.show-posts{ 
    text-align: center; 
    margin: 50px;
    display: flex; 
    flex-direction: row; 
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* animation-delay: 2s; */

    
}


.one-post{
/*   
    margin: 20px;
    width: 40%;
    padding: 25px;
    border: 1px solid rgba(254, 254, 254, 0.4); 
    border-radius: 30px; 
    background: rgba(254, 254, 254, 0.4);  */

    background-color: aliceblue; 
    background-color: rgba(255,255,255,0.3);
    margin: 20px;
    width: 40%;
    padding: 25px;
    border-radius: 20px;
    float:left;
    box-shadow: 8px 8px 8px black; 
}

.post-title{ 
    font-size: 25px;
    color: gray; 
    margin: 5px;
    text-decoration: none;
}

.one-post a, .one-post a:hover {
    text-decoration: none
}
